@using StockDataLayer.Models;
@model IEnumerable<Product>;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/membersArea.css">
    <script src="~/js/site.js" defer></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Users">Users</a>
        <a href="Products">Products</a>
    </div>
    <div id="main">
        <span onclick="openNav()">&#9776;</span>
    </div>
    <div class="table-container">
        <ul class="table">
            <li class="table-header">
                <div class="col col-1">@Html.DisplayNameFor(model => model.Id)</div>
                <div class="col col-2">@Html.DisplayNameFor(model => model.Name)</div>
                <div class="col col-3">@Html.DisplayNameFor(model => model.Price)</div>
            </li>
            @foreach (var product in Model)
            {
                <li class="table-row">
                    <div class="col col-1" data-label="Id">@product.Id</div>
                    <div class="col col-2" data-label="Username">@product.Name</div>
                    <div class="col col-3" data-label="Email">@product.Price</div>
                </li>
            }
        </ul>
    </div>
</body>
</html>